.main {
  /* from layout */
  background-color: inherit;
  color: inherit;

  display: flex;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 28em) {
  .main {
    flex-direction: column;
  }
}
