.comments {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.not-found {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}

.comment h5 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.comment a,
.comment a:visited {
  text-decoration: none;
  transition: color 0.2s;
}

.comment a:hover,
.comment a:active {
  color: #777;
  cursor: pointer;
}

.comment p {
  font-size: 1.4rem;
  word-wrap: break-word;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.comment-header button {
  margin-top: -1px;
  border: none;
  font-size: 1.8rem;

  transition: color, scale 0.2s;
}

.comment-header button:hover {
  cursor: pointer;
  color: #ad1111;
  scale: 1.2;
}
