.post-item {
  margin-top: 4.2rem;
  background: transparent;
}

.post-item section {
  background: transparent;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0 0.8rem;
}

.post-header a,
.post-header a:visited {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.post-header a:hover,
.post-header a:active {
  cursor: pointer;
  color: #777;
  transition: color 0.2s;
}

.date {
  font-size: 1.2rem;
}

.content {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.4rem;
}

.comments {
  width: 100%;
  padding: 8px 5%;
  background: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header-right button {
  margin-top: -2px;
  border: none;
  font-size: 2rem;

  transition: color, scale 0.2s;
}

.header-right button:hover {
  cursor: pointer;
  color: #ad1111;
  scale: 1.2;
}

.tags {
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
  padding: 0 0.6rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.tags__label {
  margin-top: 2px;
  font-size: 1.2rem;
  font-weight: 500;
}

.tags__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.tags__tag a,
.tags__tag a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid rgba(119, 119, 119, 0.2);
  padding: 2px 4px;
}

.tags__tag a:hover,
.tags__tag a:active {
  cursor: pointer;
  background-color: rgba(125, 125, 125, 0.5);
  transition: all 0.4s;
}

.post-header a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.post-header a span {
  position: relative;
  color: inherit;
  font-size: 2rem;
}

.post-header a span:hover::after {
  position: absolute;

  content: attr(data-tooltip);
  font-family: "Roboto", sans-serif;

  font-size: 1.2rem;
}

@media (max-width: 28em) {
  .post-item {
    margin-top: 1.6rem;
  }
}
