.post-item {
  margin-top: 4.2rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.post-header a,
.post-header a:visited {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.3px;

  transition: color 0.2s;
}

.post-header a:hover,
.post-header a:active {
  cursor: pointer;
  color: #777;
}

.date {
  font-size: 1.2rem;
}

.content {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.4rem;
}

.comments {
  width: 100%;
  padding: 8px 5%;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header-right button {
  margin-top: -2px;
  border: none;
  font-size: 2rem;

  transition: color, scale 0.2s;
}

.header-right button:hover {
  cursor: pointer;
  color: #ad1111;
  scale: 1.2;
}
