.container {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  position: relative;
}

.light-corner {
  position: absolute;

  transform: rotate(30deg) scale(1.8);
  background-color: #ccc;

  width: 50%;
  height: 100%;
}

.left {
  left: -50%;
  top: -50%;
  animation: goDown 1.5s ease-out;
}

.right {
  right: -50%;
  bottom: -50%;
  animation: goUp 1.5s ease-out;
}

@keyframes goDown {
  0% {
    top: -75%;
    opacity: 0;
  }
  100% {
    top: -50%;
    opacity: 1;
  }
}

@keyframes goUp {
  0% {
    bottom: -75%;
    opacity: 0;
  }
  100% {
    bottom: -50%;
    opacity: 1;
  }
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-box {
  width: 5rem;
  height: 5rem;
}

.inside {
  background-color: #222;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
