.nav {
  /* from layout */
  background-color: inherit;
  color: inherit;

  position: relative;
  z-index: 99;
  height: 100%;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.03);
}

.nav ul {
  list-style: none;

  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4.2rem;
}

.nav li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  width: 100%;
}

.icon {
  transition: color, transform 0.2s;
}

.icon:hover {
  cursor: pointer;
  color: #777;
  transform: scale(1.25);
}

.label {
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 150%;

  transform: translateY(-50%);

  font-size: 1.4rem;
  font-weight: 500;
  padding: 2px 4px 2px 0;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;

  transition: opacity 0.2s;
}

li:hover .label {
  opacity: 1;
}

.theme-btn {
  border: none;
  color: inherit;
}

@media (max-width: 28em) {
  .nav {
    width: 100%;
    height: auto;
  }

  .nav ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding: 0.4rem;
    width: 100%;
  }

  .nav li {
    justify-content: center;
  }

  .label {
    display: none;
  }
}
