.heading {
  width: 100%;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;

  background-color: transparent;
}

.no-lists-items {
  font-size: 2.4rem;
  background-color: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  list-style: none;
  width: 100%;
  background: transparent;
}

.list li {
  background: transparent;
  font-size: 1.8rem;
}
