.light,
.light * {
  background-color: #eee;
  color: #333;
}

.dark,
.dark * {
  background-color: #252525;
  /* background-color: #222; */
  color: #ddd;
}

.light .btn {
  border: 1px solid #333;
}

.dark .btn {
  border: 1px solid #eee;
}

.btn {
  background-color: inherit;
  border-radius: 100rem;
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.02);

  transition: border 0.2s;
}

.btn:hover {
  border: 1px solid #777;
  cursor: pointer;
}

.select option {
  font-family: inherit;
}

.light .select option {
  color: #333;
  background-color: #eee;
}

.dark .select option {
  color: #ddd;
  background-color: #222;
}

.light .container {
  background-color: #e9e9e9;
}

.dark .container {
  background-color: #222;
  /* background-color: #252525; */
}
